# Python environments
myenv/
.env/
.venv/
venv/
ENV/

# Python bytecode and cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Ignore all .pth and .h5 files everywhere
*.pth
*.h5

# Node.js modules
node_modules/
frontend/node_modules/
**/node_modules/

# Ignore package-lock.json
package-lock.json

# VSCode and IDE settings
.vscode/
.idea/

# MacOS and system files
.DS_Store
Thumbs.db


