# Ignore specific model files
backend/models/dr_models/denseNet.h5
backend/models/dr_models/vision_transformer.pth
backend/models/dr_models/vit.pth

# Ignore all .h5 and .pth files (optional: if you want to ignore all such files)
# *.h5
# *.pth

# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
