fastapi==0.116.1
uvicorn==0.35.0
python-multipart==0.0.20
pillow==10.3.0
tensorflow==2.19.0
torch==2.7.1
torchvision==0.22.1
numpy==1.26.4
opencv-python==4.10.0.84
scikit-image==0.25.2
matplotlib==3.9.1
scikit-learn==1.5.2
timm
xgboost
pandas
seaborn
